<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/imagenes/iconos/icono_f.ico">
	<link href="/css/icon_menu.css" rel="stylesheet">
	<link href="/css/banner.css" rel="stylesheet">
	<link href="/css/estilo_home.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/animate.css" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celuflash - Edición de gasto</title>
</head>
<body>
	<header class="animate__animated animate__slideInDown">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- Container wrapper -->
            <div class="container-fluid">
                                      
              <!-- Collapsible wrapper -->
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="#">
                    <img src="/imagenes/logo.png" width="30" height="30" alt="">
                </a>
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="http://localhost:3010/home"><i class="icon icon-home"></i></a>
                  </li>

                </ul>
                <!-- Left links -->
              </div>
                        
              <!-- Right elements -->
              <div class="d-flex align-items-center">
                                
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link" href="http://localhost:3010/inventario"><i class="icon icon-clipboard"></i> Inventario</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="http://localhost:3010/gastos"><i class="icon icon-power"></i> Gastos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="http://localhost:3010/ventas"><i class="icon icon-cart"></i> Ventas</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="http://localhost:3010/plansepare"><i class="icon icon-list"></i> Plan Separe</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="http://localhost:3010/ganancia"><i class="icon icon-coin-dollar"></i> Ganancia</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="http://localhost:3010/"><i class="icon icon-exit"></i>Salir</a>
                    </li>
                    
                </ul>
                  
              </div>
              <!-- Right elements -->
            </div>
            <!-- Container wrapper -->
        </nav>
	</header>

	<br>

	<div class="container">
		<article class="col-md-12 animate__animated animate__zoomIn">
		
			<center><h2>Edición de gasto.</h2></center>
		</article>
		<div class="row">
			<div class="col-md-5">
				<div class="card">
					<div class="card-body">
						                            
						<form action="/update_gasto/<%= lista.idgastos %>" method="post">
							
							
							<div class="form-group">
								<label>Nombre del gasto</label>
								<input type="text" name="nombre_gasto" value="<%= lista.nombre_gasto %>" class="form-control">
							</div>
							<div class="form-group">
								<label>Precio de compra</label>
								<input type="number" name="valor" value="<%= lista.valor %>" class="form-control">
							</div>

							<button type="submit" class="btn btn-primary">Editar producto</button>

						</form>
					</div>
				</div>

			</div>
			<div class="col-md-7">
				<br>
				<br>
				<div align="center"><img src="/imagenes/logo_peq.jpg"></div>
			</div>
		</div>

	</div>
	 
	<footer class="animate__animated animate__slideInUp">
		<div align="center"><img src="/imagenes/logo2.png"></div>
		<div align="center"><p>Desing by Yespa</p></div>
		
	</footer>


	<script src="/jquery/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!-- <script src="js/home.js"></script> -->
	 	 
</body>
</html>