/*Elimino los margenes del navegador*/
* {
	margin:0;
	padding:0;
}


header {
	margin-top:10px;
    width: 100%;
    overflow: hidden;
    height: 150px;
	position: fixed;
	z-index: 100;
	font-weight: bold;
}


.contenido {
  padding-top: 80px;
}

.wrapper {
	width: 80%;
	margin: auto;
	overflow:hidden;
}

nav {
    top:-20px;
    position: absolute;
    left:0;
    right:0;
	margin:20px auto;
	max-width:1000px;
	width:90%;
}

/*Elimino los viñetas*/
nav ul {
	list-style:none;
}

nav > ul {
	display:table;
	width:100%;
	background:rgb(212, 175, 55);
	position:relative;
}

nav > ul li {
	display:table-cell;
}

/*Sub-menu*/
nav > ul > li:hover > ul {
	display:block;
	height:100%;
}

nav > ul > li > ul {
	display:block;
	position:absolute;
	background:rgb(212, 175, 55);
	left: 0;
	right: 0;

	overflow:hidden;
	height:0%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul li a {
	color:#fff;
	display:block;
	line-height:20px;
	padding:20px;
	position: relative;
	text-align:center;
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul > li > ul > li a:hover {
	background:#fde002;
}

nav > ul > li > a span {
	background:#f6d743;
	display:block;
	height:100%;
	width:100%;
	left:0;
	position:absolute;
	top:-55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul > li > a span .icon {
	display:block;
	line-height:60px;
}

nav > ul > li > a:hover > span {
	top:0;
}

/*Colores*/
nav ul li a .primero {
	background:rgb(255, 196, 3);
}

nav ul li a .segundo {
	background:rgb(255, 203, 31);
}

nav ul li a .tercero {
	background:rgb(255, 211, 66);
}

nav ul li a .cuarto{
	background:rgb(255, 210, 64);
}